$lg-breakpoint: 1024px;

.main {
  @media (min-width: $lg-breakpoint) {
    height: 100vh;
  }
}

.about {
  @media (min-width: $lg-breakpoint) {
    flex: 1;
  }
}

.content {
  @media (min-width: $lg-breakpoint) {
    flex: 2;
  }
}
