$lg-breakpoint: 1024px;

.about {
  a {
    @apply text-teal-600 font-semibold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.description {
  > * {
    @apply mb-2;
  }
}

.project {
  height: 20rem;
  transition: all 0.1s ease-out;

  > svg {
    @apply m-auto;
  }

  &:hover {
    p,
    > svg {
      @apply text-white;
    }
  }

  @media (min-width: $lg-breakpoint) {
    height: auto;
    width: 100%;

    > svg {
      @apply w-9/12;
    }
  }
}

.project_button {
  top: 0.75rem;
  right: 0.75rem;
}

.project_list_item {
  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $lg-breakpoint) {
    display: flex;
    margin-bottom: 0;
  }
}
